# This is an example .env file. You should copy this to .env.local and fill in the values.


# Provide if you want to use TTS narration.

# Get this from https://aistudio.google.com/app/api-keys?hl=ja
GEMINI_API_KEY=...

# Get this from https://platform.openai.com/account/api-keys
OPENAI_API_KEY=...

